@charset "UTF-8";

img{
    max-width: 100%;
}

section#page1,
section#page2,
section#page3{
    width: 1200px;
    height: 300px;
    border-bottom:2px solid #000;
    position: relative;
}

aside{
    position: fixed;
    left:0; top:60px;
    width: 64px;
    padding:30px;
    height: 100vh;
    background-color: #212121;
}

p.menu{
    margin-left: 20px;
    width: 20px;
}

div.asidehead{
display: flex;
justify-content: space-between;
padding:20px 0;
color:#fff;
}

div.asidehead>h3{
    display: none;
}

p.close{
    display: none;}

p.close>img{
    width: 20px; height: 20px;
}

ul.ultitle{
    margin:30px 0;
    color: #fff;
    border-bottom: 1px solid gray;
    /* color: rgb(196, 195, 195); */
}

ul.ultitle>p{
    line-height: 2;
    font-size: 12px;
    text-align: left;
}

ul.ultitle>li{
 font-weight: bold;
 line-height: 2;
 display: none;
}

